XNATileGame1/XNATileGame1Content/obj/x86/Debug/XNATileGame1Content.contentproj.FileListAbsolute.txt
*.cache
*.txt
XNATileGame1/XNATileGame1/obj/x86/Debug/ContentPipeline-{8568DCC1-A27B-4CD9-B12E-51AD6723363F}.xml
XNATileGame1/XNATileGame1/obj/x86/Debug/XNATileGame1.exe
XNATileGame1/XNATileGame1/obj/x86/Debug/XNATileGame1.pdb
*.cachefile